<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kepai.base.mapper.BaseSystemLogOperationMapper">
    <resultMap id="BaseResultMap" type="com.kepai.base.pojos.dao.BaseSystemLogOperation">
        <!--@mbg.generated-->
        <!--@Table base_system_log_operation-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="manager_id" jdbcType="INTEGER" property="managerId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="params" jdbcType="LONGVARCHAR" property="params"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, update_time, is_deleted, manager_id, title, subject, params
    </sql>
</mapper>
