<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kepai.common.mapper.BaseSystemConfigMapper">
    <resultMap id="BaseResultMap" type="com.kepai.common.pojos.dao.BaseSystemConfig">
        <!--@mbg.generated-->
        <!--@Table base_system_config-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_val" jdbcType="LONGVARCHAR" property="configVal"/>
        <result column="config_type" jdbcType="INTEGER" property="configType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, update_time, is_deleted, config_key, config_val, config_type,remark
    </sql>
</mapper>
